.photo-grids__card-foto {
  width: 100%;
  max-height: 282px;
  height: 100%;
}
/* Данная обертка нужна, чтобы при отсутствии картинки не ломалась верстка, а именно не поднималась полоска с лайком и названием вверх. Если убрать - то все рушится. Задание размеров самой картинке также не решает эту проблему, покрайней мере на моем компьютере*/
