.popup__close {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/Close.png);
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
}

@media screen and (max-width: 575px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}

.popup__close:active {
  box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.popup__close:hover {
  opacity: 0.6;
}

