.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0 0 8px;
  max-width: 300px;
  text-overflow: ellipsis; /*удалить если сделать для длинных имен*/
  white-space: nowrap; /*удалить если сделать для длинных имен*/
  overflow: hidden; /*удалить если сделать для длинных имен*/
}

@media screen and (max-width: 710px) {
   .profile__name {
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin: 26px 0 7px 46px;
    max-width: 189px;
    /* универсальное для длинных имен
    margin: 26px 0 7px 0;
    max-width: 240px; */
  }
}
