.footer {
  padding: 67px 0 57px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 710px) {
  .footer {
    padding-top:  51px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 17px;
  }
}
