.photo-grids__basket {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  background-image: url(../../../images/basket.svg);
  width: 18px;
  height: 19px;
  object-fit: cover;
  object-position: center center;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.photo-grids__basket:hover {
  opacity: 0.6;
}
